@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="mycontainer container white-container how-ellipse"style="height:75vh;">
    <div class="row" style="text-align:center; padding-top: 15%;">
        <h2 style="font-family: Norwester; color: #171025;">
            News are coming soon.
        </h2>
    </div>
</div>
